## Chi-Square Test-
The test is applied when you have two categorical variables from a single population. It is used to determine whether there is a significant association between the two variables.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import scipy.stats as stats

In [5]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df_cross_tab=pd.crosstab(df['sex'],df['smoker'])
print(df_cross_tab)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [9]:
Observed_Values = df_cross_tab.values 
print("Cross tab Values :\n",Observed_Values)

Cross tab Values :
 [[60 97]
 [33 54]]

In [10]:
chi2_val=stats.chi2_contingency(df_cross_tab)

In [11]:
chi2_val

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [ ]:
Expected_Values=val[3]